.group-label 
{
	float:left;
	/*width:200px;*/
	text-align:right;
	background-color: transparent;
}

.GroupName 
{
	text-overflow: ellipsis; 
	overflow: hidden;
	width: 200px;
	white-space: nowrap
}
.GroupDescription
{
	text-overflow: ellipsis; 
	overflow: hidden;
	width: 480px;
	white-space: nowrap
}
.GroupType {
	width: 100px
}
table tr.GroupSelected  td {
  background: #402903 !important;
}

/* context menu */

.GroupLoadingSpin 
{
   position: absolute; 
   left: 50%;
   top: 50%; 
   margin-top: -50px;
   margin-left:-50px;
   z-index:10;
}

td.ContextMenuGroupBtn
{
  font-size:2em !important;
  cursor: pointer;      
} 
.ContextMenuGroupBtn:hover
{
  color:White !important;   
}
 
.ContextMenuGroupBtn:active
{
  color:Orange !important;
} 


ul.ContextMenuGroup li a:hover
{
   background: #402903; 
   color:#ffffff;
} 
ul.ContextMenuGroup
{
   list-style-type: none;
   padding: 0px 0px 0px 0px;
   background: #333;
   border: 1px solid black;
}
ul.ContextMenuGroup li
{    
   /* padding-top: 5px; */
	padding-bottom: 5px;    
	clear:both;
}
ul.ContextMenuGroup li a
{
    float: left;
	width: 145px;
	height: 25px;
	vertical-align: middle;
	background: #333;
	padding-left: 20px;
	padding-top: 6px;
	color: #CCCCCC;
	text-decoration:none;
	cursor: pointer;
}

.moveGroupRight:hover {
	background-image: url(group/images/copyright_hover.png);
}
.moveGroupRight {
	width: 22px;
	height: 22px;
	background-image: url(group/images/copyright_normal.png);
	background-repeat: no-repeat;
	background-position: 1px 5px;
}

.moveGroupLeft:hover {
	background-image: url(group/images/copyleft_hover.png);
}
.moveGroupLeft {
	width: 22px;
	height: 22px;
	background-image: url(group/images/copyleft_normal.png);
	background-repeat: no-repeat;
	background-position: 1px 5px;
}


/* UR DropDown */
.Group_Arrow {
    width: 0px;
    height: 0px;
    margin: 11px;
    float: right;
    border-top: 8px solid #bfbfbf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.Group_Dropdown {
    width: 405px;
}
.Group_Dropdown a.selected {
    height: 28px;
    line-height: 28px;
    display: block;
    
    border-radius: 3px;
    border: 1px solid black;
    
    padding: 0 0 0 9px;
    background: #171717;
    background: -moz-linear-gradient(top, #3e3e3e, #202020 30%, #000000);
    background: -webkit-linear-gradient(top, #3e3e3e, #202020 30%, #000000);
    box-shadow: 0 2px 0 rgba(255,255,255, 0.05) inset,
                0 0 2px rgba(255,255,255, 0.15) inset;
}
    .Group_Dropdown a.selected:focus {
        box-shadow: 0 1px 1px rgba(255,255,255, 0.05) inset,
                    0 0 2px rgba(255,255,255, 0.15) inset,
                    0 0 1px rgba(255,156,0,0.75);
        outline: 0;
    }
    .Group_Dropdown a.selected:hover {
        color: white;
    }
        .Group_Dropdown a.selected:hover .Group_Arrow {
            border-top-color: white;
        }
    .Group_Dropdown a.selected:active {
        color: #ff8000;
        background: #333333;
        background: -moz-linear-gradient(top, #292929, #1c1c1c);
        background: -webkit-linear-gradient(top, #292929, #1c1c1c);
        box-shadow: 0 1px 1px rgba(255,255,255, 0.05) inset;
    }
        .Group_Dropdown a.selected:active .Group_Arrow {
            border-top-color: #ff8000;
        }
    .Group_Dropdown a.disable, .Group_Dropdown a.disable:hover, .Group_Dropdown a.disable:active {
        color: #565656;
        cursor: default;

        background: #171717;
        background: -moz-linear-gradient(top, #3e3e3e, #202020 30%, #000000);
        background: -webkit-linear-gradient(top, #3e3e3e, #202020 30%, #000000);
        box-shadow: 0 2px 0 rgba(255,255,255, 0.05) inset,
                    0 0 2px rgba(255,255,255, 0.15) inset;
    }
        .Group_Dropdown a.disable .Group_Arrow, .Group_Dropdown a.disable:hover .Group_Arrow, .Group_Dropdown a.disable:active .Group_Arrow {
            border-top-color: #565656;
        }

    .Group_Dropdown ul {
        width: 403px;
        display: none;
        position: absolute;
        margin: -30px 0 0 0;
        padding: 1px 0;
        background: #333333;
        border: 1px solid black;
        border-radius: 3px;
        list-style: none;
        box-shadow: 1px 1px 0 #454545 inset,
                    -1px -1px 0 #454545 inset,
                    0 0 10px rgba(0,0,0,0.6);
    }
    .Group_Dropdown li {
        margin: 0;
        padding: 0;
    }
    .Group_Dropdown li a {
        display: block;
        margin: 0 1px;
        padding: 0 0 0 8px;
        height: 26px;
        line-height: 26px;
    }
        .Group_Dropdown li a:focus {
            outline: 0;
        }
        .Group_Dropdown li a:hover {
            color: white;
            background: #402903;
        }
        .Group_Dropdown li a:active {
            font-weight: bold;
            color: #ff8000;
            background: none;
        }
        .Group_Dropdown li.current a:hover {
            background: none;
        }
    .Group_Dropdown li .Group_Arrow {
        border-top-color: #ff8000;
        margin: 10px;
    }

/* End UR DropDown */

/* Make Zebra */

table.normal tr.even.hover, table.normal tr.odd.hover {
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}
table.normal tr.even:hover td.RowMsg, table.normal tr.odd:hover td.RowMsg { 
  border-top: 1px solid #1f1f1f;
  border-bottom: 1px solid #363636;
  border-left:none;
  border-right:none;  
  padding: 8px;
  background: #202020;
}
  
table.normal tr.even:hover td.RowMsg:first-child, table.normal tr.odd:hover td.RowMsg:first-child { border-left:none;}
table.normal tr.even:hover td.RowMsg:last-child, table.normal tr.odd:hover td.RowMsg:last-child {border-right:none;}
table.normal tr.even:hover td, table.normal tr.odd:hover td {
  border-bottom: 1px solid #ff9900;
  border-top: 1px solid #ff9900;
  background: #402903;
}

table.normal tr.even:hover td:first-child, table.normal tr.odd:hover td:first-child {
  border-left: 1px solid #ff9900;
}

table.normal tr.even:hover td:last-child, table.normal tr.odd:hover td:last-child {
  border-right: 1px solid #ff9900;
}

table.normal tr.even td {
    background: #242424;
}
table.normal tr.odd td {
    background: #202020;
}

table.normal thead tr th.grouphead {
   cursor: default;
}

/* Custom Group */

.CustomGroupName 
{
	text-overflow: ellipsis; 
	overflow: hidden;
	width: 175px;
    white-space: nowrap;
}
.CustomGroupUserId 
{
	text-overflow: ellipsis; 
	overflow: hidden;
	width: 195px;
    white-space: nowrap;
}
.CustomGroupUuid
{
	text-overflow: ellipsis; 
	overflow: hidden;
	width: 100px;
    white-space: nowrap;
}
.CustomGroupPermission
{
	text-overflow: ellipsis; 
	overflow: hidden;
	width: 92px;
    white-space: nowrap;
}
.CustomGroupCountry
{
	text-overflow: ellipsis; 
	overflow: hidden;
	width: 100px;
    white-space: nowrap;
}
/* End Custom Group */


.control-group div .field-validation-error {
    background-image: url(group/images/error.png);
	background-repeat: no-repeat;
	background-position: 1px 3px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 2px;
    font-weight: bold;
    display: block;
    position: absolute;
}
.control-group div .input-validation-error {
    /*background: pink;*/
    border: 1px solid #a40000 !important;
}

#ListAvailableUserPanel div div {
    margin-right: 1px;
}

#ListAvailableUserPanel div div div {
     margin-right: 2.5px;   
}

#ListGroupMemberPanel div div {
    margin-right: 1px;    
}

#ListGroupMemberPanel div div div {
     margin-right: 2.5px;    
}

#ListAvailableAccountPanel div div {
    margin-right: 1px;
}

#ListAvailableAccountPanel div div div {
     margin-right: 2.5px;   
}

#ListGroupAccountPanel div div {
    margin-right: 1px;
}

#ListGroupAccountPanel div div div {
     margin-right: 2.5px;   
}

#GroupListPanel div div div {
     margin-right: 2px;   
}

#GroupListPanel div div div div {
     margin-right: 2.5px;   
}

.group-checkbox, .group-checkbox-header 
{
    width: 17px;
    height: 17px;
    background-image: url(group/images/checkbox.png);
    background-repeat: no-repeat;
    cursor:pointer;
}

.group-checkbox-selected 
{
    width: 17px;
    height: 17px;
    background-image: url(group/images/checkbox_selected.png);
    background-repeat: no-repeat;
    cursor:pointer;	
}
.group-checkbox-selected-disable 
{
    width: 17px;
    height: 17px;
    background-image: url(group/images/checkbox_selected_disabled.png);
    background-repeat: no-repeat;
    cursor:default;	
}
.group-checkbox-disabled, .group-checkbox-header-disabled
{
    width: 17px;
    height: 17px;
    background-image: url(group/images/checkbox_disabled.png);
    background-repeat: no-repeat;
    cursor:default;	
}

.LocationDetail 
{
    margin-left: 10px;
}
.address 
{
    color: Gray;
    font-size: 11px;
    display: block;
    margin-top: -5px;
}

input#GroupName:disabled, textarea#GroupDescription:disabled
{
    background-color: transparent;
    color: #747474;
    cursor: default;
}

/*italic placeholder*/
::-webkit-input-placeholder {  font-style: italic; }
::-moz-placeholder {  font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; } /* ie */
input:-moz-placeholder {  font-style: italic; }

table#ModifyUserPopup {
    border-collapse: separate;
    width: 100%;
}
table#ModifyUserPopup tr td:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0);
    font-weight: bold;
    width: 150px;
    color: #747474;
}
table#ModifyUserPopup tr td:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0);
}

table#ModifyUserPopup tr td {
    background: none repeat scroll 0 0 #242424;
    border-bottom: 1px solid #363636;
    border-top: 1px solid #1F1F1F;
    color: #BFBFBF;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 6px;
    text-align: left;
    vertical-align: top
}


/* Modal popup */
div[aria-labelledby="miniModal"].modal.fade  {
    top: 15%;
    left: 57%;
    width: 400px;
}

div[aria-labelledby="miniModal"].modal.fade.in  {
    top: 35%;
    left: 57%;
    width: 400px;
}

div[aria-labelledby="normalModal"].modal.fade.in  {
    top: 10%;
    left: 50%;
    width: 560px;
}

div[aria-labelledby="normalModal"].modal.fade  {    
    top: 0%;
    left: 50%;
    width: 560px;
}

div[aria-labelledby="maxModal"].modal.fade.in  {
    top: 10%;
    left: 40%;
    width: 800px;
}

div[aria-labelledby="maxModal"].modal.fade  {    
    top: 0%;
    left: 40%;
    width: 800px;
}
/* End Modal popup */

#EmptyRow:hover td {
    background: none;
    border-color: transparent;
	border-bottom: 1px solid #363636;
}

.icon-success 
{
    width: 19px;
    height: 19px;
    background-image: url(group/images/correct.png);
	background-repeat: no-repeat;
	background-position: 0px;
}

.icon-error 
{
    width: 16px;
    height: 16px;
    background-image: url(group/images/ico_alert_16_p.png);
	background-repeat: no-repeat;
	background-position: 0px;
}

.error_text 
{
    color: #FF0000;	
}

/* ImportGroup page */
    
.group-emptyTable 
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px #303030;
    -moz-box-shadow: 0px 1px #303030;
    box-shadow: 0px 1px #303030;
    border: 1px solid #000;
}
/* End ImportGroup page */